html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    57.4deg,
    rgb(249, 206, 183) 4.6%,
    rgb(234, 174, 202) 26%,
    rgb(210, 182, 226) 49.1%,
    rgb(173, 209, 242) 86.5%
  );
  background-size: cover;
  height: 100%;
  font-size: 16px;
  color: #333;
  text-align: center;
}

input {
  font-size: 18px;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
  box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #999;
}

button {
  font-size: 18px;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 0 5px #ccc;
  cursor: pointer;
  background-color: #9076d8;
  margin-bottom: 10px;
  color: #fff;
  box-shadow: 0 0 5px #999;
}
button:hover {
  background-color: #fadc8d;
  transition: background-color 0.3s ease-in-out;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  padding: 15px;
  background-color: #fffdf8;
  border-radius: 8px;
  box-shadow: 0 0 5px #ccc;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 0 5px #999;
}

ul li:hover {
  background-color: #ffecc7;
  transition: background-color 0.3s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 10px auto;
  padding: 20px;
}

.main-photo {
  max-width: 200px;
  margin: 0 auto;
}

.credits {
  font-size: 12px;
  color: #807e7e;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.light-txt {
  font-size: 12px;
  color: #272525;
  margin-top: 15px;
  margin-bottom: 15px;
}
